<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.chenguoyu.cloud.system.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.chenguoyu.cloud.system.model.po.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="head_image" jdbcType="VARCHAR" property="headImage" />
    <result column="enable" jdbcType="BOOLEAN" property="enable" />
    <result column="account_non_expired" jdbcType="BOOLEAN" property="accountNonExpired" />
    <result column="credentials_non_expired" jdbcType="BOOLEAN" property="credentialsNonExpired" />
    <result column="account_non_locked" jdbcType="BOOLEAN" property="accountNonLocked" />
    <result column="lock_time" jdbcType="TIMESTAMP" property="lockTime" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, account, `password`, `name`, mobile, qq, wechat, email, description, head_image, 
    `enable`, account_non_expired, credentials_non_expired, account_non_locked, lock_time, 
    create_user_id, create_time, update_user_id, update_time, deleted
  </sql>
</mapper>